%h4.strong.center
    Discord
.text-center
    %a{:href => "https://discord.gg/Gk42sB", :target => "_blank"}
        %img{:src => "https://discordapp.com/api/guilds/494949427400671234/widget.png?style=shield"}