- content_for(:title) {"Rules"}

%section
    .page-header
        %h2
            Crowdinners Forum Rules

    .row
        .col-md-12
            :markdown
                ### A. General Composure

                1. Maintain a pleasant and casual atmosphere. Be respectful and use common sense. Excessive swearing, rudeness and harassment are not tolerated.
                2. Do not link to or post any of the following:
                  - Objectionable material, which includes but is not limited to pornography, viruses, phishing sites and hate groups;
                  - Personally identifying information of other users.
                3. Follow any directions given by Crowdinners staff members. If you believe a staff member has acted unreasonably, please contact an administrator.

                ### B. Website Behaviour

                1. Do not make topics or posts aiming to insult or provoke other people or groups, and do not promote or encourage others to make such posts.
                2. Do not reply to topics with irrelevant, meaningless or spammy text or images.
                3. All personal issues must be dealt with in private. The public forums are not the place for personal conflicts.
                4. Criticism of the work of others, both the network and the wider community, must be delivered with politeness and personal respect.
                5. Do not make topics just to announce that you are quitting the game or the server. Exceptions may be made at senior staff discretion.
                6. Announcements about dramatic events affecting yourself or others must include a verifiable source for the information. If the story cannot be easily verified, the topic may be removed. Contact a senior staff member if you would like your verification to remain private.
                7. Do not reply to a topic that you feel is violating the rules, submit a report instead.
                8. Topics should be posted in the correct subforum.

                ### C. Discord Rules

                1. Stay on-topic within channels. Low quality content belongs in #off-topic.
                2. Do not add any bots without permission.
                3. Do not use any voice effects or play music through your client.

                **Note:** The rules listed in the #welcome channel also apply to the Discord server.

                ### D. Consequences

                1. Players may receive an infraction for breaking any of the rules above.
                2. The severity of the infraction is usually based on the player’s previous infractions.
                3. Particularly serious or blatant rule violation will result in an immediate permanent ban without warning.
                4. Players with multiple warnings for breaking the same or multiple rules may be temporarily banned without notice.
                5. Ban evasion is not permitted and will result in a permanent ban for all alternate accounts associated with the evading user. The alternate accounts will not be unbanned once the original ban expires or is successfully appealed, and the original ban may be extended up to thrice its original length (e.g. 1 week ban becomes up to a 3 week ban).
                6. Persistent ban evasion will result in a permanent ban for all accounts.
                7. Players violating the rules on the Crowdinners forum or Discord, may be banned from any or all of the services.
                8. All infractions may be contested by [filing an appeal](https://crowdinners.com/appeal).
                9. **Any player that knowingly gives false information in an appeal, report or application may be permanently banned.**

                **Note**: All infractions are subject to staff discretion.

                ### E. Miscellaneous

                1. These rules are subject to change with notice.
                2. Players are responsible for keeping up with rule changes.
                3. There is a one week grace period for rule changes.
                4. Crowdinners's Administration reserves the right to ban or unban any user from any or all of its services for any reason without notice.
