.modal.fade#contact
    .modal-dialog
        .modal-content
            = simple_form_for Inquiry.new, :url => "/inquire" do |f|
                %input.subj{:type => "hidden", :name => "type", :value => ""}
                .modal-header
                    %button.close{:data => {:dismiss => "modal"}} &times;
                    %h3.strong.modal-title
                        Contact #{ORG::NAME}
                        %small.strong.subject
                .modal-body
                    .row
                        %h3.center Send us an email
                        %br
                        %p.center
                            %a.btn.btn-primary.btn-lg.ip
                                %input.input.center{type: "text", value: "support@crowdinners.com", onClick: "this.select();", readonly: true}
                        %br
                        %p.center We usually respond within 1-2 days
                        %p.center Please be as clear and concise as possible. It will help us process your inquiry faster.
                .modal-footer
                    %a.btn.btn-default{:href => "#", :data => {:dismiss => "modal"}} Close
                    -# %input.btn.btn-primary{:type => "submit", :value => "Send", :data => {"disable-with" => "Sending..."}}
