- content_for(:title) {"Donations"}

%section
    .page-header
        %h2
            Donations
            %small Reference for forum donations
    %h2
        %i.fa.fa-heart
        Donations are important for everyone
    %hr

    %p Currently, all Crowdinners's services are being maintained by and out of the pocket of their founder, hence the reason behind a donations button. It is absolutely optional to donate, and every single penny received will be used to maintain the forums, help paying for hosting, etc..
    %p  If you like the project and feel like donating, submit a payment for any amount to the founder's PayPal:
    %br
    %p.center
        %a.btn.btn-primary.btn-lg.ip{:href => "https://www.paypal.me/bgmp00/", :target => "_blank"}
            %input.input{type: "text", value: "PayPal", readonly: true}
    %br
