- content_for :splash do
  = render :partial => "splash"

%section
  .container{:style => "padding-bottom: 40px"}
    %br
    .row
      .col-md-8{:style => "padding-top: 20px"}
        %h4{:style => "font-weight: bold"} About this forum
        %p Crowdinners is meant to be a forum for the Minecraft Crowdin proofreaders and translators to be able to discuss inconsistencies, problems or anything about their own languages, regarding Mojang AB's Crowdin translation project.
        %p With all the of the functionalities a forum comes with, this will not only serve as a place for people to discuss actual serious translation issues, but to get to know each other as a team in a better manner, so stay tuned and have a read at our offtopic sub-forums!
      .col-md-4
        %img.center-block{:src => asset_path("logo_single.png"), :width => "50%"}


%style body { padding-bottom: 40px; }

%script $(function(){$('#hero').carousel('cycle')});
