- content_for(:title) {"Privacy"}

%section
    .page-header
        %h2
            Privacy Policy

    .row
        .col-md-12
            :markdown
                Crowdinners collects and stores information about users in several different ways:

                  - On your [account page,](https://crowdinners.com/users/edit) you can enter various details about yourself for display on your public profile. Entering this information is entirely optional.
                  - The [IP address](https://en.wikipedia.org/wiki/IP_address) you use to connect to our forums is securely stored in our database. Only [Administrators and Developers](https://crowdinners.com/staff) have access to IP address records. They are sometimes used to find alternate accounts of banned players.
                  - When you make a purchase in our [shop,](http://stratus.network/shop) your payment information is sent directly to either Paypal or Stripe, our payment processors. We do not store payment information on our own servers.
                  - All [reports](https://crowdinners.com/reports/new) and [appeals](https://crowdinners.com/appeals/new) created through our website are visible to all [Administrators and Developers](https://crowdinners.com/staff) Evidence provided with reports may also be revealed to the user being reported so that they can defend themselves.
  
                Upon written request to support@crowdinners.com, and after verification, Crowdinners can:

                  - Suspend your account in order to hide your [public profile information](https://crowdinners.com/users/edit), [forum postings](https://crowdinners.com/forums/my_topics) and punishments.
                  - Permanently remove your [email address, public profile information](https://crowdinners.com/users/edit) and [forum postings,](https://crowdinners.com/forums/my_topics) from our service, and terminate your account.
                  - Provide you with your [registration email,](https://crowdinners.com/users/edit) and your Minecraft username history. Your [friendships,](http://crowdinners.com/friendships) statistics and [public profile information,](https://crowdinners.com//users/edit) can be viewed at any time on your profile.

                  - You are able to update and/or remove your [public profile information,](https://crowdinners.com/users/edit) and forum postings at any time without account termination.
                  - In the interest of Privacy, IP and session records will not be disclosed to the user upon request and cannot be removed from the service as they are continuously used to find alternate accounts of banned players.
                  - Statistics and Punishments can be hidden by suspending your account, but will not be removed from the service as they serve as a permanent record of interactions between multiple users.

                In general, Crowdinners collects user information only for the purpose of improving our services. Sensitive information is only visible to our own staff, and only to those staff who need it to do their job.
